/*-------COLOR SCHEME---------
html- main- #f8b71a;
html- light1- #ffc948;
html- light2- #ffd571;
html- dark1- #cb9004;
html- dark2- #a07100;

python- main- #4e21aa;
python- light1- #653fb2;
python- light2- #8463c6;
python- dark1- #38108b;
python- dark2- #2a0a6d;

mean- main- #f8da1a;
mean- light1- #ffe648;
mean- light2- #ffec71;
mean- dark1- #cbb004;
mean- dark2- #a08b00;

csharp- main- #243ca9;
csharp- light1- #4256b2;
csharp- light2- #6576c6;
csharp- dark1- #13288a;
csharp- dark2- #0c1d6d;
*/

*{
  margin: 0;
  padding: 0;
}
ul{
  list-style-type: none;
}
li{
  display: inline-block;
}
.fa{
  font-size: 2em;
  text-align: center;
}
img{
  width: 100%;
}
.mainNavBtn{
  color: white;
  font-weight: 600;
  min-width: 65px;
}
#mainHtmlButton{
  background-color: #f8b71a;
}
#mainPythonButton{
  background-color: #4e21aa;
}
#mainMeanButton{
  background-color: #f8da1a;
}
#mainCsharpButton{
  background-color: #243ca9;
}
.htmlBack{
  background-color: #ffd571;
}
.htmlBack h2{
  color: #cb9004;
}
.htmlBack p{
  color: #a07100;
}
.pythonBack{
  background-color: #8463c6;
}
.meanBack{
  background-color: #ffec71;
}
.cSharpBack{
  background-color: #6576c6;
}
.mainContent{
  border-radius: 15px;
  margin-top: 20px;
}
.subNavButton{
  margin-bottom: 10px;
}
.htmlSubButtons button{
  background-color: #ffc948;
  border: 1px solid #cb9004;
}
.pythonSubButtons button{
  background-color: #653fb2;
  border: 1px solid #38108b;
}
.meanSubButtons button{
  background-color: #ffe648;
  border: 1px solid #cbb004;
}
.cSharpSubButtons button{
  background-color: #4256b2;
  border: 1px solid #13288a;
}
#main0nav button{
  color: white;
  font-weight: 600;
}
